@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,700");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: 'FiraGO', sans-serif;
  }

  .input {
    @apply w-72 h-11 py-3 px-4 bg-[#FCFCFD] text-[#85858D] text-sm outline-[#5D37F3] rounded-xl hover:bg-[#F9F9FA]
  }

  .input-heading {
    @apply text-[#1A1A1F] text-sm font-medium leading-5
  }

  .input-error {
    @apply border border-solid border-[#EA1919] bg-[#FAF2F3]
  }

  .input-success {
    @apply border border-solid border-[#14D81C]
  }

  .text-normal {
    @apply text-[#85858D] text-xs leading-5
  }

  .text-error {
    @apply text-[#EA1919] text-xs leading-5
  }

  .text-success {
    @apply text-[#14D81C] text-xs leading-5
  }

  .slick-arrow {
    @apply w-[44px] h-[44px]
  }

  .slick-disabled {
    opacity: 0.1;
    cursor: not-allowed;
  }


}